// SMB Page

// Custom Helpers

img.centered {
	margin: 0 auto;
}

.with-spacing {
	margin-bottom: 20px;
}

.with-less-spacing {
	margin-bottom: 10px;
}

.orange {
	color: $orange !important;
}

// Inner Hero
.inner-hero.smb {
	.grid-16 {
		background: url(/images/smb/smb-inner-hero.jpg) no-repeat 257px top;
		padding: 25px 0 0 35px;

		@media #{$large-desktop} {
			background: url(/images/smb/smb-inner-hero.jpg) no-repeat 417px top;
		}
	}
	h2 {
		font-size: 30px;
		letter-spacing: -1px;

		@media #{$large-desktop} {
			font-size: 40px;
		}
	}
	h3 {
		font-size: 18px;

		@media #{$large-desktop} {
			font-size: 28px;
		}
	}

	.price-legal {
		text-shadow: 0px 0px 3px $purple;

		.subunit_wrap {
			margin: 60px 0 0 10px;
		}
	}

}

// Availability Banner
.availability-banner.smb {
	.grad-secondary {
		background: lighten($blue, 6%);
	}
	.chevron {
		color: #fff;
		background: $blue;
		position: relative;
		font-size: 32px;
		padding: 17px 30px 0 30px;

		@media #{$large-desktop} {
			font-size: 38px;
			padding: 15px 60px 0 50px;
		}

		&::after {
			@include triangle(72px 24px, $blue, right);
			position: absolute;
			content:" ";
			right: -24px;
			top: 0;
		} // arrow right
	}

	p {
		font-size: 24px;
		padding-right: 28px;
	}
}

// Work Smarter Section

.work-smarter {
	.h-phone {
		@include brand-font-med-italic;
		font-size: 36px;
		color: $orange;
		display: block;

		@media #{$large-desktop} {
			font-size: 48px;
			}
		}
	.txt-block {
		padding: 30px 0 30px;

		@media #{$large-desktop} {
			padding: 50px 0 0;
		}
	}
	img {
		padding: 20px 0;

		&.align-right {
			float: right;
		}
	}
}

// Banner GWP

.banner-gwp {
	// @include linear-gradient(#69bbf4, #097cb6);
	background: $blue;
	border-radius: 5px;
	border: 1px solid #0a7db7;
	color: #fff;
	padding: 15px;
	@include clearfix;

	h2 {
		float: left;
		font-size: 24px;
		@include brand-font-med-italic;
		padding: 17px 10px 10px;

		@media #{$large-desktop} {
			font-size: 40px;
			padding: 10px;
		}
	}

	p {
		float: left;
		width: 300px;
		margin: 0;
		padding: 0 10px;
	}

	.offer-details {
		color: #fff;
		text-decoration: underline;
		display: inline-block;
	}

	.gwp-card {
		float: left;
		padding: 0 5px;
	}

	.cta-phone {
		float: left;
		@include brand-font-reg-italic;
		font-size: 18px;
		padding: 10px;

		@media #{$large-desktop} {
			font-size: 32px;
		}

		.h-phone {
			font-size: 30px;
			@include brand-font-med-italic;

			@media #{$large-desktop} {
				font-size: 40px;
			}
		}
	}
}

// SMB Perks

.smb-perks {
	padding-bottom: 50px;
	
	.txt-block {
		padding: 30px 0 0;
	}

	.grid-9 img {
		padding: 40px 0;

		@media #{$large-desktop} {
			padding: 20px 0;
		}
	}
}

// SMB Value Props

.value-props.smb {
	padding: 50px 0;
	background: url(/images/hr-shadow.png) no-repeat center top;
	
	.grid-4 {
		text-align: center;
		padding: 10px 25px 20px;
		border-radius: 10px;
		@include linear-gradient(#fff, #f5f5f5);
		border: 1px solid $border-color;
	}

	h3 {
		font-size: 24px;
		color: $orange;
		@include brand-font-reg-italic;
	}


}