@import "bourbon/bourbon";
@import "pricing-table";

// HOMEPAGE HERO

.hero-slide {
	.label {
		font-size: 13px;
		display: block;
		top: 10px;
		@media only screen and (max-width: 1199px) {
			font-size: 11px;
		}
	} // END .label
	.price {
		margin-top: 5px;
	}
	.currency {
		font-size: 34px !important;
		font-family: OATTLI;
		text-shadow: 0 1px 0 rgba(0,0,0,0.7);
		margin: 30px 0 0 10px;
	}
	.base {
		font-size: 110px !important;
		font-family: OATTLI;
		text-shadow: 0 1px 0 rgba(0,0,0,0.7);
		@media only screen and (max-width: 1199px) {
			font-size: 80px !important;
		}
	}

	.subunit {
		font-size: 36px;
		text-shadow: 0 1px 0 rgba(0, 0, 0, 0.7);
	}

	.frequency {
		font-size: 17px !important;
		font-family: OATTLI;
		position: relative;
		bottom: 5px;
		left: 0;
		text-shadow: 0 1px 0 rgba(0,0,0,0.7);
	}

	.frequency-no-subunit {
		font-size: 17px !important;
		font-family: OATTLI;
		position: relative;
		bottom: -50px;
		left: -10px;
		text-shadow: 0 1px 0 rgba(0,0,0,0.7);
	}

	.price-legal {
		top: 15px;
		right: 55px;
		
		a {
			color: #fff;
			text-decoration: underline;
		}

		small {
			font-size: 9px;
			line-height: 1;
			top: -5px;
			position: relative;
			padding: 0 35px;
			@media only screen and (max-width: 1199px) {
				padding: 0 50px;
			}
		}

		@media only screen and (max-width: 1199px) {
			top: 45px;
			right: 0px;
			.ie7 &, .ie8 & {
				top: 25px;
				right: 20px;
			}
		}
	} // END .price-legal
} // END .hero-slide 

// SLIDE 1
.slide-uverse {
	.hero-img {
		background: url('/images/159/slide-uverse.jpg') no-repeat;
		@media only screen and (max-width: 1199px) {
			background-size: 107%;
			background-position: center center;
		}
		.ie7 &, .ie8 & {
			filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
			src='/images/159/slide-uverse.jpg',
			sizingMethod='scale');
			-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader( src='/images/159/slide-uverse.jpg', sizingMethod='scale')";
			background-image: none !important;
		}
	} // END .hero-img
	.hero-info {
		padding-top: 30px;
		h3 {
			padding-right: 100px;
			line-height: 1.25;
			@media only screen and (max-width: 1199px) {
				padding-right: 200px;
			}
		}
		p {
			padding-right: 150px;
			@media only screen and (max-width: 1199px) {
				padding-right: 200px;
			}
		}
	}// END .hero-info
} // END .slide-uverse

// SLIDE 2
.slide-double {
	.hero-img {
		background: url('/images/159/slide-double.jpg') no-repeat;
		@media only screen and (max-width: 1199px) {
			background-size: 107%;
			background-position: center center; 
		}
		.ie7 &, .ie8 & {
			filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
			src='/images/159/slide-double.jpg',
			sizingMethod='scale');
			-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader( src='/images/159/slide-double.jpg', sizingMethod='scale')";
			background-image: none !important;
		}	
	} // END .hero-img
	.hero-info {
		padding-top: 25px;
	}
	@media only screen and (max-width: 1199px) {
		h2 {
			padding-right: 200px;
		}
	}
} // END .slide-double

// SLIDE 3
.slide-triple {
	.hero-img {
		background: url('/images/159/slide-triple.jpg') no-repeat;
		@media only screen and (max-width: 1199px) {
			background-size: 107%;
			background-position: center center;
		}
		.ie7 &, .ie8 & {
			filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
			src='/images/159/slide-triple.jpg',
			sizingMethod='scale');
			-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader( src='/images/159/slide-triple.jpg', sizingMethod='scale')";
			background-image: none !important;
		}
	} // END .hero-img
	&.hero-slide {
		.label {
			padding: 0 50px;
			font-size: 12px;
		}
	} // END .hero-slide
	.hero-info {
		padding-top: 30px;
		p {
			padding-right: 150px;
		}
	} // END .hero-info
	@media only screen and (max-width: 1199px) {
		.hero-info {
			padding-top: 20px;
			h3 {
				padding-right: 200px;
			}
			p {
				padding-right: 200px;
			}
		}
	}
} // END .slide-triple

.ih-internet .grid-16 {
    background-image: url(/images/inner-hero-internet-new.jpg);

	@media only screen and (max-width: 1199px) {
		background-image: url(/images/inner-hero-internet-new-960.jpg);
	}
}// END .ih-internet .grid-16

.inner-hero.smb .grid-16 {
    background: url(/images/smb/smb-inner-hero-no-visa-2.png) no-repeat 418px;
    padding: 50px 0 0 35px;

	@media only screen and (max-width: 1199px) {
		background: url(/images/smb/smb-inner-hero-no-visa-2.png) no-repeat 316px 0;
		background-size: 625px;
	}
}// END .inner-hero.smb .grid-16

.uverse-evolution-legal {
		margin-top: -105px;
		padding: 50px 0;
}// END .uverse-evolution-legal

.main-features-legal {
	margin-top: 10px;
}// END .main-features-legal

.legal {
	span {
		color: #fff;
	}
}

.price-legal {
	.subunit {
		text-shadow: 0 1px 0 rgba(0, 0, 0, 0.7);
	}

	.frequency {
	    bottom: 5px;
	    font-family: OATTLI;
	    font-size: 17px !important;
	    left: 0;
	    position: relative;
	    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.7);
    }

	.frequency-no-subunit {
		font-size: 17px !important;
		font-family: OATTLI;
		position: relative;
		bottom: -40px;
		left: -5px;
		text-shadow: 0 1px 0 rgba(0,0,0,0.7);
	}

    a {
    	color: #fff;
    	text-decoration: underline;
    }

    small {
    	line-height: 1;
    }
}// END .price-legal

.callout-uverse-difference {
	.legal {
		color: #fff;
		display: block;
		line-height: 1.5;
	}
}

// PACKAGES BAR
.packages-banner .row .grad-secondary {
	color: $white-color;
	@include linear-gradient(#67baf3, #0c7eb8);
	border: 1px solid #0a7db7;
	margin: 0 0 20px 10px;

	.phone {
		font-size: 32px;
		@include att;
		padding: 20px 50px;
		float: left;
	}

	.line {
		background: $white-color;
		height: 50px;
		width: 1px;
		float: left;
		margin: 18px 0 0 0;
	}

	.package {
		font-size: 20px;
		@include att;
		padding: 0 40px;
		float: left;
		margin: 31px 0 0 0;
	}
	
	ul {
		margin: 13px 0 0 0;
		float: left;

		li {
			font-size: 14px;
			@include att;
			line-height: 1.5;
			background: url(/images/102/bullet.png);
			background-repeat: no-repeat;
			background-position: center left;
			padding: 0 0 0 15px;
		}
	}
}

// PRICING GRID

.sidebar {
	font-size: 17px;
	@include att;
	height: 435px;
	padding: 0;
	margin: 170px 0 0 0;
	float: left;
	color: $white-color;
	text-align: left;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	@include linear-gradient(#67baf3, #0c7eb8);
	border-top: 1px solid #3981c7;
	border-bottom: 1px solid #3981c7;
	border-left: 1px solid #3981c7;

	.col {
		height: 62px;
		width: 100%;
		line-height: 62px;
		border-bottom: solid 1px #88c7f1;
		padding: 0 50px 0 75px;

		&:last-child {
			border-bottom: none;
		}
	}
	.email {
		background: url(/images/102/email.png);
		background-repeat: no-repeat;
		background-position: 30px center ;
		margin-top: 0;
	}
	.web {
		background: url(/images/102/laptop.png);
		background-repeat: no-repeat;
		background-position: 30px center ;
		margin-top: 0;
	}
	.music {
		background: url(/images/102/music.png);
		background-repeat: no-repeat;
		background-position: 30px center ;
		margin-top: 0;
	}
	.sd-video {
		background: url(/images/102/video.png);
		background-repeat: no-repeat;
		background-position: 30px center ;
		margin-top: 0;
	}
	.file {
		background: url(/images/102/file.png);
		background-repeat: no-repeat;
		background-position: 30px center ;
		margin-top: 0;
	}
	.game {
		background: url(/images/102/game.png);
		background-repeat: no-repeat;
		background-position: 30px center ;
		margin-top: 0;
	}
	.hd-video {
		background: url(/images/102/video.png);
		background-repeat: no-repeat;
		background-position: 30px center ;
		margin-top: 0;
	}
}

.price-column {
	width: 222px;
	height: 606px;
	float: left;
	margin: 0 1px 0 0;
	position: relative;
}

.price-grid-blue {
	color: $white-color;
	width: 100%;
	height: 171px;
	@include linear-gradient(#67baf3, #0c7eb8);
	border: 1px solid #3981c7;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;

	.price-intro {
		font-size: 20px;
		@include helvetica;
		padding: 19px 0 0 0;
		margin-bottom: 7px;

	}
	
	.price
		.currency {
			color: $white-color;
			font-size: 40px;
			@include helvetica;
			margin-left: 32px;
		}
		.dollars {
			color: $white-color !important;
			font-size: 75px;
			@include helvetica;
			padding: 10px 0 0 0;
			text-shadow: 0 1px 0 rgba(0, 0, 0, 0.7) !important;
			margin: -10px 0 10px 0;
		}
		.price-secondary {

			.cents {
				color: $white-color;
				font-size: 40px;
				@include helvetica;
				margin: -8px 0 0 0;
			}
			.month {
				color: $white-color;
				font-size: 20px;
				@include helvetica;
			}
		}
	}

	a.button {
		color: $white-color;
		font-size: 13px;
		text-transform: uppercase;
		border: 2px solid #ffffff;
		border-radius: 5px;
		@include helvetica;
		padding: 10px 20px;
		margin: 20px 0;
		line-height: 20px;
		text-align: center;
		@include transition (all 0.3s);
	}
	a.button-blue:hover {
		color: #1484be;
		background: $white-color;
	}
	a.button-green:hover {
		color: #75bd20;
		background: $white-color;
	}
	a.button-orange:hover {
		color: #fe7701;
		background: $white-color;
	}
	a.button-purple:hover {
		color: #8c0182;
		background: $white-color;
	}

	.grey-light {
		width: 100%;
		height: 62px;
		background-color: $grey-light;
		line-height: 69px;
		border-bottom: solid 1px #ffffff;

		&:last-child {
			border-bottom: none;
		}
	}

	.grey-dark {
		width: 100%;
		height: 62px;
		background-color: $grey-dark;
		line-height: 69px;
		border-bottom: solid 1px #ffffff;

		&:last-child {
			border-bottom: none;
		}
	}

.price-grid-green {
	color: $white-color;
	width: 100%;
	height: 171px;
	@include linear-gradient(#b4d32b, #74bd20);
	border: 1px solid #74bd20;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.price-grid-orange {
	color: $white-color;
	width: 100%;
	height: 171px;
	@include linear-gradient(#fda810, #fe7701);
	border: 1px solid #fe7701;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.popular {
	@include att;
	color: $white-color;
	width: 100%;
	height: 50px;
	line-height: 40px;
	font-size: 14px;
	text-align: center;
	background-color: #fe7801;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	position: absolute;
	top: -40px;
	left: 0;
	z-index: -1;
}
.limited {
	@include att;
	color: $white-color;
	width: 100%;
	height: 50px;
	padding: 10px 30px;
	@include linear-gradient(#fda810, #fe7701);
	border-bottom: 1px solid #fe7701;
	border-right: 1px solid #fe7701;
	border-left: 1px solid #fe7701;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	position: absolute;
	bottom: -50px;
	left: 0;
	z-index: -1;

}
.price-grid-purple {
	color: $white-color;
	width: 100%;
	height: 171px;
	@include linear-gradient(#e1009a, #8c0181);
	border: 1px solid #8c0181;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.speed {
	@include att;
	color: $white-color;
	width: 100%;
	height: 50px;
	padding: 10px 30px;
	@include linear-gradient(#e1009a, #8c0181);
	border-bottom: 1px solid #8c0181;
	border-right: 1px solid #8c0181;
	border-left: 1px solid #8c0181;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	position: absolute;
	bottom: -50px;
	left: 0;
	z-index: -1;

}
.plans_graph {
	margin: 50px 0 0 0;
}

.plans_graph .legal {
	width: 50%;
	text-align: left;
	margin: 20px 0 10px 0;
	float: left;
}
.plus {
	width: 25px;
	height: 25px;
	position: absolute;
	top: 10px;
	right: 10px;
	background: url(/images/102/plus.png);
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;

	&:hover {

		.plus-inner {
			visibility: visible;
			opacity: 0.92;  
		}
	}

	.plus-inner {
		width: 25px;
		height: 25px;
		position: relative;
		visibility: hidden;
		opacity: 0;  
		@include transition (all 0.3s);
		z-index: 3;


	.legal-back {
		width: 215px;
		height: 53px;
		background-image: url(/images/102/arrow.png);
		background-repeat: no-repeat;
		background-position: bottom center;
		position: absolute;
		top: -55px;
		left: -95px;
	}

	.legal-back2 {
		width: 215px;
		height: 53px;
		background-image: url(/images/102/arrow.png);
		background-repeat: no-repeat;
		background-position: 180px bottom;
		position: absolute;
		top: -55px;
		left: -180px;
	}

	.legal-popup {
		width: 215px;
		font-size: 10px;
		color: $white-color;
		@include att;
		background-color: #6e6e6e;
		padding: 10px;
		z-index: 2;
		border-radius: 3px;;
		line-height: 1.2;
	}


}
}



// 960 - Plans Page Hero Adjustments

@media only screen and (max-width: 1199px) {

.sidebar {
	font-size: 13px;
}
.price-grid-blue .price .currency {
	margin-left: 18px;
}

.price-grid-blue .price .dollars {
	font-size: 60px;
}
.price-grid-blue .price .cents {
	font-size: 30px;
	margin: 0;
}

.price-grid-blue .price .month {
	font-size: 15px;
}
.price-grid-blue .price-intro {
	font-size: 15px;
	@include helvetica;
	padding: 17px 0 0 0;
}
.packages-banner .row .grad-secondary {

	.package {
		display: none;
	}
	
	.line {
		margin: 18px 35px 0 0;
	}

}
.price-column {
	width: 170px;
}
.speed {
	font-size: 12px;
	padding: 12px 20px;

}
.limited {
	font-size: 12px;
	padding: 12px 10px;

}

}

// Bundles Uverse Updates

.ih-bundles {

	.grid-16 {
		background-position: 500px center;

		@media only screen and (max-width: 1199px) {
			background-position: 1px center;
		}
	}

	h2 {
		font-size: 44px;
	}

	.price-legal {
		right: 23px;

		@media only screen and (max-width: 1199px) {
			right: 5px;
		}
	}
}

.scale {

	&.is-centered {
		margin: 0 auto;
	}
}

.att-bundles-wrapper {
	margin-top: 120px;
}

.custom-bundle-column {

	.custom-bundle-title {
		text-align: center;

		h3 {
			color: #ff7200;
			font-size: 22px;
			margin: 10px 0;
		}

		img {
			margin-top: -150px;
		}
	}

	.custom-bundle-banner {
		background: #7bc6ff;
		color: #fff;
		font-size: 14px;
		margin: 0;
		padding: 5px 0;
		text-align: center;

		strong {
			text-transform: uppercase;
		}

		@media only screen and (max-width: 1199px) {
			font-size: 12px;
		}
	}

	.custom-bundle-list {
		min-height: 300px;

		li {
			border-top: 2px solid #e4e4e4;
			overflow: hidden;
			padding: 12px 0;

			&:first-child {
				border-top: none;
			}
		}

		.custom-bundle-icon {
			color: #ff7200;
			float: left;
			font-size: 18px;
			text-align: center;
			width: 30%;

			img {
				margin-bottom: 5px;
			}
		}

		p {
			float: left;
			width: 55%;
		}
	}
}

.build-bundle {

	.row {
		overflow: visible;
	}

	h2 {
		font-size: 40px;

		@media only screen and (max-width: 1199px) {
			font-size: 30px;
		}
	}

	.bundle-image {
		margin-top: -20px;
	}

	@media only screen and (max-width: 1199px) {

		.txt-block {
			padding-bottom: 20px;
		}
	}
}

.callout-order-now .promo-box {
    margin: 20px 25px 25px;
    padding: 20px 0;
}

footer {
	.legal {
		line-height: 1;
	}
}