// Project Mixins

@mixin brand-font-light {
  	font-family: OATTL;
}

@mixin brand-font-light-italic {
  	font-family: OATTLI;
}

@mixin brand-font-med {
  	font-family: OATTM;
}

@mixin brand-font-med-italic {
  	font-family: OATTMI;
}

@mixin brand-font-reg {
  	font-family: OATTR;
}

@mixin brand-font-reg-italic {
  	font-family: OATTRI;
}

@mixin att {
  	font-family: OATTLI;
}

@mixin helvetica {
  	font-family: helvetica, arial, sans-serif;
	font-weight: bold;
}