/*
Error: File to import not found or unreadable: ../css/plugins/slick.min.
       Load paths:
         /usr/share/www/internetspecials.com/data/assets/mobile-b/scss
         /Applications/CodeKit.app/Contents/Resources/engines/bourbon
         /usr/share/www/internetspecials.com/data/bower_components/foundation/scss
         /usr/share/www/internetspecials.com/data/bower_components/foundation-sites/scss
         /usr/share/www/internetspecials.com/data/bower_components/foundation-sites
         /usr/share/www/internetspecials.com/data/bower_components/motion-ui
         Sass::Globbing::Importer
        on line 6 of /usr/share/www/internetspecials.com/data/assets/mobile-b/scss/project.scss

1: /*-----------------------
2:   ATIS DESKTOP-B THEME
3: ------------------------*\/
4: 
5: // Slick Slider CSS
6: @import "../css/plugins/slick.min";
7: 
8: // Range Slider CSS
9: @import "../css/plugins/rangeslider";
10: 
11: // Jquery UI ------- NEED TO GET THIS OUT OF HERE, ONLY USING FOR AUTOCOMPLETE

Backtrace:
/usr/share/www/internetspecials.com/data/assets/mobile-b/scss/project.scss:6
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/import_node.rb:67:in `rescue in import'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/import_node.rb:45:in `import'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/import_node.rb:28:in `imported_file'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/import_node.rb:37:in `css_import?'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:311:in `visit_import'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/base.rb:36:in `visit'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/stack.rb:79:in `block in with_base'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/stack.rb:115:in `with_frame'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/stack.rb:79:in `with_base'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/base.rb:52:in `map'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/base.rb:36:in `visit'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/root_node.rb:36:in `css_tree'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/engine.rb:378:in `_render_with_sourcemap'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/engine.rb:295:in `render_with_sourcemap'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/exec/sass_scss.rb:414:in `run'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/exec/sass_scss.rb:63:in `process_result'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/exec/base.rb:52:in `parse'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/exec/base.rb:19:in `parse!'
/Applications/CodeKit.app/Contents/Resources/engines/scss/bin/scss:13:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: File to import not found or unreadable: ../css/plugins/slick.min.\A        Load paths:\A          /usr/share/www/internetspecials.com/data/assets/mobile-b/scss\A          /Applications/CodeKit.app/Contents/Resources/engines/bourbon\A          /usr/share/www/internetspecials.com/data/bower_components/foundation/scss\A          /usr/share/www/internetspecials.com/data/bower_components/foundation-sites/scss\A          /usr/share/www/internetspecials.com/data/bower_components/foundation-sites\A          /usr/share/www/internetspecials.com/data/bower_components/motion-ui\A          Sass::Globbing::Importer\A         on line 6 of /usr/share/www/internetspecials.com/data/assets/mobile-b/scss/project.scss\A \A 1: /*-----------------------\A 2:   ATIS DESKTOP-B THEME\A 3: ------------------------*/\A 4: \A 5: // Slick Slider CSS\A 6: @import \"../css/plugins/slick.min\";\A 7: \A 8: // Range Slider CSS\A 9: @import \"../css/plugins/rangeslider\";\A 10: \A 11: // Jquery UI ------- NEED TO GET THIS OUT OF HERE, ONLY USING FOR AUTOCOMPLETE"; }
