

// PRICING GRID
.smb {
	.price-grid-heading {
		background: url(/images/hr-shadow.png) no-repeat center top;
		font-size: 22px;
		text-align: center;
		color: $orange;
		padding: 50px 0;

		@media #{$large-desktop} {
			font-size: 26px;
		}
	}
	
	.unserviceable {
		background: url(/images/hr-shadow.png) no-repeat center top;
		padding: 10px 0;
	}	
	
	.left-column {
		float: left;

		.calling-bundle {
			height: 147px;
			width: 304px;
			@include brand-font-reg-italic;
			letter-spacing: -1px;

			@media #{$large-desktop} {
				width: 346px;
			}
			
			h2 {
				color: $light-blue;
				font-size: 24px;
				text-align: left;
				margin-top: 30px;

				@media #{$large-desktop} {
					font-size: 30px;
				}
			}

			p {
				background: $orange;
				color: #fff;
				float: right;
				font-size: 18px;
				padding: 5px 15px;
				margin-top: 20px;
				position: relative;

				&::before {
					@include triangle(15px 37px, $orange, down-right);
					position: absolute;
					content:" ";
					left: -15px;
					top: 0;
				} // triangle left
			}
		}
	}
	.sidebar {
		font-size: 17px;
		@include att;
		height: 373px;
		padding: 0;
		color: $white-color;
		text-align: left;
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;
		background: $blue;
		// @include linear-gradient(#67baf3, #0c7eb8);
		border-top: 1px solid #3981c7;
		border-bottom: 1px solid #3981c7;
		border-left: 1px solid #3981c7;
		margin: 0;
		width: 100%;


		.col {
			height: 62px;
			width: 100%;
			line-height: 62px;
			border-bottom: solid 1px #88c7f1;
			padding: 0 50px 0 75px;

			&:last-child {
				border-bottom: none;
			}
		}
		.email {
			background: url(/images/102/email.png);
			background-repeat: no-repeat;
			background-position: 30px center ;
			margin-top: 0;
		}
		.web {
			background: url(/images/102/laptop.png);
			background-repeat: no-repeat;
			background-position: 30px center ;
			margin-top: 0;
		}
		.music {
			background: url(/images/102/music.png);
			background-repeat: no-repeat;
			background-position: 30px center ;
			margin-top: 0;
		}
		.sd-video {
			background: url(/images/102/video.png);
			background-repeat: no-repeat;
			background-position: 30px center ;
			margin-top: 0;
		}
		.file {
			background: url(/images/102/file.png);
			background-repeat: no-repeat;
			background-position: 30px center ;
			margin-top: 0;
		}
		.game {
			background: url(/images/102/game.png);
			background-repeat: no-repeat;
			background-position: 30px center ;
			margin-top: 0;
		}
		.hd-video {
			background: url(/images/102/video.png);
			background-repeat: no-repeat;
			background-position: 30px center ;
			margin-top: 0;
		}
		.internet {
			background: url(/images/smb/icon-speed.png);
			background-repeat: no-repeat;
			background-position: 30px center ;
			margin-top: 0;
		}
		.phone {
			background: url(/images/smb/icon-phone.png);
			background-repeat: no-repeat;
			background-position: 30px center ;
			margin-top: 0;
		}
	} // .sidebar


	.price-column {
		width: 210px;
		height: 550px;
		float: left;
		margin: 0 1px 0 0;
		position: relative;

		@media #{$large-desktop} {
			width: 262px;	
		}
	}

	.price-grid-blue {
		color: $white-color;
		width: 100%;
		height: 178px;
		background: $blue;
		// @include linear-gradient(#67baf3, #0c7eb8);
		border: 1px solid #3981c7;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;

		.price-intro {
			font-size: 12px;
			@include helvetica;
			padding: 19px 0 0 0;
			margin-bottom: 7px;

		}
		
		.price
			.currency {
				color: $white-color;
				font-size: 40px;
				@include helvetica;
				margin-left: 50px;
				text-shadow: none;

				@media #{$large-desktop} {
					margin-left: 66px;
				}
			}
			.dollars {
				color: $white-color !important;
				font-size: 60px;
				@include helvetica;
				padding: 10px 0 0 0;
				text-shadow: none !important;
				margin: -10px 0 10px 0;

				@media #{$large-desktop} {
					font-size: 75px;
				}
			}
			.price-secondary {

				.cents {
					color: $white-color;
					font-size: 30px;
					@include helvetica;
					margin: 0;

					@media #{$large-desktop} {
						font-size: 40px;
						margin: -8px 0 0;
					}
				}
				.month {
					color: $white-color;
					font-size: 20px;
					@include helvetica;
					text-shadow: none;
				}
			}
		}
		.discount {
			font-size: 11px;
			margin-top: 18px;
			padding: 5px;
		}
		a.button {
			color: $white-color;
			font-size: 13px;
			text-transform: uppercase;
			border: 2px solid #ffffff;
			border-radius: 5px;
			@include helvetica;
			padding: 10px 20px;
			margin: 20px 0;
			line-height: 20px;
			text-align: center;
			@include transition (all 0.3s);
		}
		a.button-blue:hover {
			color: #1484be;
			background: $white-color;
		}
		a.button-green:hover {
			color: #75bd20;
			background: $white-color;
		}
		a.button-orange:hover {
			color: #fe7701;
			background: $white-color;
		}
		a.button-purple:hover {
			color: #8c0182;
			background: $white-color;
		}

		.grey-light {
			width: 100%;
			height: 62px;
			background-color: $grey-light;
			line-height: 69px;
			border-bottom: solid 1px #ffffff;

			&:last-child {
				border-bottom: none;
			}
		}

		.grey-dark {
			width: 100%;
			height: 62px;
			background-color: $grey-dark;
			line-height: 69px;
			border-bottom: solid 1px #ffffff;

			&:last-child {
				border-bottom: none;
			}
		}

		.price-grid-green {
			color: $white-color;
			width: 100%;
			background: lighten($green, 6%);
			// @include linear-gradient(#b4d32b, #74bd20);
			border: 1px solid #74bd20;
			border-top-left-radius: 5px;
			border-top-right-radius: 5px;

			.discount {
				background-color: lighten($green, 10%);
			}
		}

		.price-grid-orange {
			color: $white-color;
			width: 100%;
			background: lighten($orange, 12%);
			// @include linear-gradient(#fda810, #fe7701);
			border: 1px solid #fe7701;
			border-top-left-radius: 5px;
			border-top-right-radius: 5px;

			.discount {
				background-color: lighten($orange, 20%);
			}
		}
		.popular {
			@include att;
			color: $white-color;
			width: 100%;
			height: 50px;
			line-height: 40px;
			font-size: 14px;
			text-align: center;
			background-color: #fe7801;
			border-top-left-radius: 5px;
			border-top-right-radius: 5px;
			position: absolute;
			top: -40px;
			left: 0;
			z-index: -1;
		}
		.limited {
			@include att;
			color: $white-color;
			width: 100%;
			height: 50px;
			padding: 10px 30px;
			@include linear-gradient(#fda810, #fe7701);
			border-bottom: 1px solid #fe7701;
			border-right: 1px solid #fe7701;
			border-left: 1px solid #fe7701;
			border-bottom-left-radius: 5px;
			border-bottom-right-radius: 5px;
			position: absolute;
			bottom: -50px;
			left: 0;
			z-index: -1;

		}
		.price-grid-purple {
			color: $white-color;
			width: 100%;
			background: lighten($purple, 10%);
			// @include linear-gradient(#e1009a, #8c0181);
			border: 1px solid #8c0181;
			border-top-left-radius: 5px;
			border-top-right-radius: 5px;

			.discount {
				background-color: lighten($purple, 15%);
			}
		}
		.speed {
			@include att;
			color: $white-color;
			width: 100%;
			height: 50px;
			padding: 10px 30px;
			@include linear-gradient(#e1009a, #8c0181);
			border-bottom: 1px solid #8c0181;
			border-right: 1px solid #8c0181;
			border-left: 1px solid #8c0181;
			border-bottom-left-radius: 5px;
			border-bottom-right-radius: 5px;
			position: absolute;
			bottom: -50px;
			left: 0;
			z-index: -1;

		}
		.plans_graph {
			margin: 50px 0 0 0;
		}

		.plans_graph .legal {
			clear: both;
			padding: 20px;
		}
		.plus {
			width: 25px;
			height: 25px;
			position: absolute;
			top: 10px;
			right: 10px;
			background: url(/images/102/plus.png);
			background-repeat: no-repeat;
			background-position: center;
			cursor: pointer;

			&:hover {

				.plus-inner {
					visibility: visible;
					opacity: 0.92;  
				}
			}

			.plus-inner {
				width: 25px;
				height: 25px;
				position: relative;
				visibility: hidden;
				opacity: 0;  
				@include transition (all 0.3s);
				z-index: 3;


			.legal-back {
				width: 215px;
				height: 53px;
				background-image: url(/images/102/arrow.png);
				background-repeat: no-repeat;
				background-position: bottom center;
				position: absolute;
				top: -55px;
				left: -95px;
			}

			.legal-back2 {
				width: 215px;
				height: 53px;
				background-image: url(/images/102/arrow.png);
				background-repeat: no-repeat;
				background-position: 180px bottom;
				position: absolute;
				top: -55px;
				left: -180px;
			}

			.legal-popup {
				width: 215px;
				font-size: 10px;
				color: $white-color;
				@include att;
				background-color: #6e6e6e;
				padding: 10px;
				z-index: 2;
				border-radius: 3px;;
				line-height: 1.2;
			}
		} // .plus
	} // .price-grid-blue
} // .smb



