////
// Buttons
////

// global dependencies
@import 'global';


// button defaults
.button {
	border-radius: 5px;
	cursor: pointer;
	display: inline-block;
	font-family: $font-family-primary;
	font-size: rem-calc(16);
	font-weight: 500;
	line-height: 1;
	padding: 15px 20px;
	text-align: center;
	text-decoration: none;

	&.is-disabled {
		@include rv-button(color(accent, gray));
	}
}

// primary buttons
.button--primary {
	@include rv-button(color(functional, blue));
}

// secondary buttons
.button--secondary {
	@include rv-button(color(primary, white), color(functional, blue));
	border: 1px solid color(accent, gray);
}

// tertiary buttons
.button--tertiary {
	@include rv-button(color(primary, orange));
}

// centered buttons
.button--centered {
	margin-left: auto;
	margin-right: auto;
}

.button--hidden {
	visibility: hidden;
}

// block level button
.button--block {
	display: block;
	padding-left: 0;
	padding-right: 0;
	width: 100%;
}

//used in product rec tool
.button--disabled{
	background: transparent;
    opacity: 0.25;
    border: 1px solid color(primary, gray);
}