.price-grid .row {
  overflow: visible; }

.price-grid .legal {
  clear: both;
  margin-top: 0px; }

.pricing-table.group {
  margin-bottom: 20px; }
.pricing-table .features, .pricing-table .plans {
  float: left; }
.pricing-table .features {
  width: 280px;
  font-size: 17px;
  font-family: OATTLI;
  padding: 0;
  margin: 170px 0 0 0;
  color: #ffffff;
  text-align: left;
  border-top-left-radius: 5px;
  background: #459cda;
  border-top: 1px solid #3981c7;
  border-bottom: 1px solid #3981c7;
  border-left: 1px solid #3981c7;
  list-style-type: none;
  position: relative; }
  @media only screen and (max-width: 1199px) {
    .pricing-table .features {
      margin-top: 145px;
      width: auto;
      font-family: helvetica, arial, sans-serif;
      font-weight: bold;
      font-size: 12px;
      text-align: right; } }
  .pricing-table .features .services {
    background-color: #4ba4e0;
    background-image: -webkit-linear-gradient(#4ba4e0, #317dc4);
    background-image: linear-gradient(#4ba4e0, #317dc4); }
    .ie8 .pricing-table .features .services {
      background: #317dc4; }
    @media only screen and (max-width: 1199px) {
      .pricing-table .features .services {
        background: #317dc4; } }
  .pricing-table .features h3 {
    position: absolute;
    top: 347px;
    left: -212px;
    width: 374px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: #459cda;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-top: 1px solid #3981c7;
    border-right: 1px solid #3981c7;
    border-left: 1px solid #3981c7;
    border-bottom: solid 1px #88c7f1;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg); }
    .ie8 .pricing-table .features h3 {
      display: none; }
    @media only screen and (max-width: 1199px) {
      .pricing-table .features h3 {
        display: none; } }
  .pricing-table .features li {
    height: 62px;
    width: 100%;
    line-height: 62px;
    border-bottom: solid 1px #88c7f1;
    padding: 0 50px 0 75px;
    overflow: hidden;
    margin-top: 0; }
    @media only screen and (max-width: 1199px) {
      .pricing-table .features li {
        padding: 0 20px;
        font-size: 12px; } }
    .pricing-table .features li:last-child {
      border-bottom: none; }
  .pricing-table .features .voice {
    background: url(/images/161/icon-voice.png) no-repeat 30px center; }
    @media only screen and (max-width: 1199px) {
      .pricing-table .features .voice {
        background: none; } }
  .pricing-table .features .tv {
    background: url(/images/161/icon-tv.png) no-repeat 30px center; }
    @media only screen and (max-width: 1199px) {
      .pricing-table .features .tv {
        background: none; } }
  .pricing-table .features .internet {
    background: url(/images/161/icon-internet.png) no-repeat 30px center; }
    @media only screen and (max-width: 1199px) {
      .pricing-table .features .internet {
        background: none; } }
  .pricing-table .features .email {
    background: url(/images/102/email.png) no-repeat 30px center; }
    @media only screen and (max-width: 1199px) {
      .pricing-table .features .email {
        background: none; } }
  .pricing-table .features .web {
    background: url(/images/102/laptop.png) no-repeat 30px center; }
    @media only screen and (max-width: 1199px) {
      .pricing-table .features .web {
        background: none; } }
  .pricing-table .features .music {
    background: url(/images/102/music.png) no-repeat 30px center; }
    @media only screen and (max-width: 1199px) {
      .pricing-table .features .music {
        background: none; } }
  .pricing-table .features .sd-video {
    background: url(/images/102/video.png) no-repeat 30px center; }
    @media only screen and (max-width: 1199px) {
      .pricing-table .features .sd-video {
        background: none; } }
  .pricing-table .features .file {
    background: url(/images/102/file.png) no-repeat 30px center; }
    @media only screen and (max-width: 1199px) {
      .pricing-table .features .file {
        background: none; } }
  .pricing-table .features .game {
    background: url(/images/102/game.png) no-repeat 30px center; }
    @media only screen and (max-width: 1199px) {
      .pricing-table .features .game {
        background: none; } }
  .pricing-table .features .hd-video {
    background: url(/images/102/video.png) no-repeat 30px center; }
    @media only screen and (max-width: 1199px) {
      .pricing-table .features .hd-video {
        background: none; } }
.pricing-table .plans .price-col {
  float: left;
  width: 180px; }
  @media only screen and (max-width: 1199px) {
    .pricing-table .plans .price-col {
      width: 155px; } }
  .pricing-table .plans .price-col li {
    display: block;
    background: #EEE;
    border-top: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    height: 62px;
    line-height: 62px; }
    .pricing-table .plans .price-col li.service {
      background: #ececec; }
    .pricing-table .plans .price-col li:last-child {
      border-bottom: none;
      height: 64px; }
.pricing-table .price-plan {
  height: 170px; }
  @media only screen and (max-width: 1199px) {
    .pricing-table .price-plan {
      height: 145px; } }
  .pricing-table .price-plan a.button {
    display: inline-block;
    font-size: 13px;
    color: #ffffff;
    border-radius: 5px;
    padding: 7px 22px;
    margin: 5px 10px;
    text-transform: uppercase; }
    .pricing-table .price-plan a.button:hover {
      background: #ffffff;
      border: 1px solid #ffffff; }
.pricing-table .price-header {
  color: #ffffff;
  padding: 5px;
  font-size: 11px;
  text-transform: uppercase; }
.pricing-table .price-intro {
  font-size: 11px;
  color: #ffffff;
  margin-top: 10px;
  font-weight: bold; }
.pricing-table .price {
  margin-top: 5px;
  left: 20px;
  color: #ffffff;
  font-family: helvetica, arial, sans-serif;
  font-weight: bold; }
  .pricing-table .price .currency {
    text-shadow: none;
    margin-top: 20px; }
  .pricing-table .price .dollars {
    font-size: 70px;
    letter-spacing: -2px; }
    @media only screen and (max-width: 1199px) {
      .pricing-table .price .dollars {
        font-size: 50px; } }
  .pricing-table .price .price-secondary {
    text-shadow: none;
    margin-left: 10px; }
    @media only screen and (max-width: 1199px) {
      .pricing-table .price .price-secondary {
        font-size: 16px;
        margin-left: 5px; } }
    .pricing-table .price .price-secondary span {
      display: block; }
.pricing-table .price-purple {
  background-color: #81017e;
  background-image: -webkit-linear-gradient(#fa00a1, #81017e);
  background-image: linear-gradient(to ,#81017e);
  width: 179px;
  border: 1px solid #81017e;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px; }
  @media only screen and (max-width: 1199px) {
    .pricing-table .price-purple {
      width: 154px; } }
  .pricing-table .price-purple .price-header {
    background: #81017e; }
  .pricing-table .price-purple a.button {
    border: 2px solid #fa00a1; }
    .pricing-table .price-purple a.button:hover {
      color: #81017e; }
.pricing-table .price-green {
  background-color: #6ebb1f;
  background-image: -webkit-linear-gradient(#c4d82d, #6ebb1f);
  background-image: linear-gradient(to ,#6ebb1f);
  width: 179px;
  border: 1px solid #6ebb1f;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px; }
  @media only screen and (max-width: 1199px) {
    .pricing-table .price-green {
      width: 154px; } }
  .pricing-table .price-green .price-header {
    background: #6ebb1f; }
  .pricing-table .price-green a.button {
    border: 2px solid #c4d82d; }
    .pricing-table .price-green a.button:hover {
      color: #6ebb1f; }
.pricing-table .price-navy {
  background-color: #0c2577;
  background-image: -webkit-linear-gradient(#067ab4, #0c2577);
  background-image: linear-gradient(to ,#0c2577);
  width: 179px;
  border: 1px solid #0c2577;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px; }
  @media only screen and (max-width: 1199px) {
    .pricing-table .price-navy {
      width: 154px; } }
  .pricing-table .price-navy .price-header {
    background: #0c2577; }
  .pricing-table .price-navy a.button {
    border: 2px solid #067ab4; }
    .pricing-table .price-navy a.button:hover {
      color: #0c2577; }
.pricing-table .price-blue {
  background-color: #067ab4;
  background-image: -webkit-linear-gradient(#7cc6ff, #067ab4);
  background-image: linear-gradient(to ,#067ab4);
  width: 179px;
  border: 1px solid #067ab4;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px; }
  @media only screen and (max-width: 1199px) {
    .pricing-table .price-blue {
      width: 154px; } }
  .pricing-table .price-blue .price-header {
    background: #067ab4; }
  .pricing-table .price-blue a.button {
    border: 2px solid #7cc6ff; }
    .pricing-table .price-blue a.button:hover {
      color: #067ab4; }
.pricing-table .price-orange {
  background-color: #ff7200;
  background-image: -webkit-linear-gradient(#fcb314, #ff7200);
  background-image: linear-gradient(to ,#ff7200);
  width: 179px;
  border: 1px solid #ff7200;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px; }
  @media only screen and (max-width: 1199px) {
    .pricing-table .price-orange {
      width: 154px; } }
  .pricing-table .price-orange .price-header {
    background: #ff7200; }
  .pricing-table .price-orange a.button {
    border: 2px solid #fcb314; }
    .pricing-table .price-orange a.button:hover {
      color: #ff7200; }

.packages-banner .row .grad-secondary {
  color: #ffffff;
  background-color: #67baf3;
  background-image: -webkit-linear-gradient(#67baf3, #0c7eb8);
  background-image: linear-gradient(#67baf3, #0c7eb8);
  border: 1px solid #0a7db7;
  margin: 0 0 20px 10px; }
  .packages-banner .row .grad-secondary .phone {
    font-size: 32px;
    font-family: OATTLI;
    padding: 20px 50px;
    float: left; }
  .packages-banner .row .grad-secondary .line {
    background: #ffffff;
    height: 50px;
    width: 1px;
    float: left;
    margin: 18px 0 0 0; }
    @media only screen and (max-width: 1199px) {
      .packages-banner .row .grad-secondary .line {
        margin: 18px 35px 0 0; } }
  .packages-banner .row .grad-secondary .package {
    font-size: 20px;
    font-family: OATTLI;
    padding: 0 40px;
    float: left;
    margin: 31px 0 0 0; }
    @media only screen and (max-width: 1199px) {
      .packages-banner .row .grad-secondary .package {
        display: none; } }
  .packages-banner .row .grad-secondary ul {
    margin: 13px 0 0 0;
    float: left; }
    .packages-banner .row .grad-secondary ul li {
      font-size: 14px;
      font-family: OATTLI;
      line-height: 1.5;
      background: url(/images/102/bullet.png);
      background-repeat: no-repeat;
      background-position: center left;
      padding: 0 0 0 15px; }

.hero-slide .label {
  font-size: 13px;
  display: block;
  top: 10px; }
  @media only screen and (max-width: 1199px) {
    .hero-slide .label {
      font-size: 11px; } }
.hero-slide .price {
  margin-top: 5px; }
.hero-slide .currency {
  font-size: 34px !important;
  font-family: OATTLI;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.7);
  margin: 30px 0 0 10px; }
.hero-slide .base {
  font-size: 110px !important;
  font-family: OATTLI;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.7); }
  @media only screen and (max-width: 1199px) {
    .hero-slide .base {
      font-size: 80px !important; } }
.hero-slide .subunit {
  font-size: 36px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.7); }
.hero-slide .frequency {
  font-size: 17px !important;
  font-family: OATTLI;
  position: relative;
  bottom: 5px;
  left: 0;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.7); }
.hero-slide .frequency-no-subunit {
  font-size: 17px !important;
  font-family: OATTLI;
  position: relative;
  bottom: -50px;
  left: -10px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.7); }
.hero-slide .price-legal {
  top: 15px;
  right: 55px; }
  .hero-slide .price-legal a {
    color: #fff;
    text-decoration: underline; }
  .hero-slide .price-legal small {
    font-size: 9px;
    line-height: 1;
    top: -5px;
    position: relative;
    padding: 0 35px; }
    @media only screen and (max-width: 1199px) {
      .hero-slide .price-legal small {
        padding: 0 50px; } }
  @media only screen and (max-width: 1199px) {
    .hero-slide .price-legal {
      top: 45px;
      right: 0px; }
      .ie7 .hero-slide .price-legal, .ie8 .hero-slide .price-legal {
        top: 25px;
        right: 20px; } }

.slide-uverse .hero-img {
  background: url("/images/159/slide-uverse.jpg") no-repeat; }
  @media only screen and (max-width: 1199px) {
    .slide-uverse .hero-img {
      background-size: 107%;
      background-position: center center; } }
  .ie7 .slide-uverse .hero-img, .ie8 .slide-uverse .hero-img {
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='/images/159/slide-uverse.jpg', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader( src='/images/159/slide-uverse.jpg', sizingMethod='scale')";
    background-image: none !important; }
.slide-uverse .hero-info {
  padding-top: 30px; }
  .slide-uverse .hero-info h3 {
    padding-right: 100px;
    line-height: 1.25; }
    @media only screen and (max-width: 1199px) {
      .slide-uverse .hero-info h3 {
        padding-right: 200px; } }
  .slide-uverse .hero-info p {
    padding-right: 150px; }
    @media only screen and (max-width: 1199px) {
      .slide-uverse .hero-info p {
        padding-right: 200px; } }

.slide-double .hero-img {
  background: url("/images/159/slide-double.jpg") no-repeat; }
  @media only screen and (max-width: 1199px) {
    .slide-double .hero-img {
      background-size: 107%;
      background-position: center center; } }
  .ie7 .slide-double .hero-img, .ie8 .slide-double .hero-img {
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='/images/159/slide-double.jpg', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader( src='/images/159/slide-double.jpg', sizingMethod='scale')";
    background-image: none !important; }
.slide-double .hero-info {
  padding-top: 25px; }
@media only screen and (max-width: 1199px) {
  .slide-double h2 {
    padding-right: 200px; } }

.slide-triple .hero-img {
  background: url("/images/159/slide-triple.jpg") no-repeat; }
  @media only screen and (max-width: 1199px) {
    .slide-triple .hero-img {
      background-size: 107%;
      background-position: center center; } }
  .ie7 .slide-triple .hero-img, .ie8 .slide-triple .hero-img {
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='/images/159/slide-triple.jpg', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader( src='/images/159/slide-triple.jpg', sizingMethod='scale')";
    background-image: none !important; }
.slide-triple.hero-slide .label {
  padding: 0 50px;
  font-size: 12px; }
.slide-triple .hero-info {
  padding-top: 30px; }
  .slide-triple .hero-info p {
    padding-right: 150px; }
@media only screen and (max-width: 1199px) {
  .slide-triple .hero-info {
    padding-top: 20px; }
    .slide-triple .hero-info h3 {
      padding-right: 200px; }
    .slide-triple .hero-info p {
      padding-right: 200px; } }

.ih-internet .grid-16 {
  background-image: url(/images/inner-hero-internet-new.jpg); }
  @media only screen and (max-width: 1199px) {
    .ih-internet .grid-16 {
      background-image: url(/images/inner-hero-internet-new-960.jpg); } }

.inner-hero.smb .grid-16 {
  background: url(/images/smb/smb-inner-hero-no-visa-2.png) no-repeat 418px;
  padding: 50px 0 0 35px; }
  @media only screen and (max-width: 1199px) {
    .inner-hero.smb .grid-16 {
      background: url(/images/smb/smb-inner-hero-no-visa-2.png) no-repeat 316px 0;
      background-size: 625px; } }

.uverse-evolution-legal {
  margin-top: -105px;
  padding: 50px 0; }

.main-features-legal {
  margin-top: 10px; }

.legal span {
  color: #fff; }

.price-legal .subunit {
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.7); }
.price-legal .frequency {
  bottom: 5px;
  font-family: OATTLI;
  font-size: 17px !important;
  left: 0;
  position: relative;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.7); }
.price-legal .frequency-no-subunit {
  font-size: 17px !important;
  font-family: OATTLI;
  position: relative;
  bottom: -40px;
  left: -5px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.7); }
.price-legal a {
  color: #fff;
  text-decoration: underline; }
.price-legal small {
  line-height: 1; }

.callout-uverse-difference .legal {
  color: #fff;
  display: block;
  line-height: 1.5; }

.packages-banner .row .grad-secondary {
  color: #ffffff;
  background-color: #67baf3;
  background-image: -webkit-linear-gradient(#67baf3, #0c7eb8);
  background-image: linear-gradient(#67baf3, #0c7eb8);
  border: 1px solid #0a7db7;
  margin: 0 0 20px 10px; }
  .packages-banner .row .grad-secondary .phone {
    font-size: 32px;
    font-family: OATTLI;
    padding: 20px 50px;
    float: left; }
  .packages-banner .row .grad-secondary .line {
    background: #ffffff;
    height: 50px;
    width: 1px;
    float: left;
    margin: 18px 0 0 0; }
  .packages-banner .row .grad-secondary .package {
    font-size: 20px;
    font-family: OATTLI;
    padding: 0 40px;
    float: left;
    margin: 31px 0 0 0; }
  .packages-banner .row .grad-secondary ul {
    margin: 13px 0 0 0;
    float: left; }
    .packages-banner .row .grad-secondary ul li {
      font-size: 14px;
      font-family: OATTLI;
      line-height: 1.5;
      background: url(/images/102/bullet.png);
      background-repeat: no-repeat;
      background-position: center left;
      padding: 0 0 0 15px; }

.sidebar {
  font-size: 17px;
  font-family: OATTLI;
  height: 435px;
  padding: 0;
  margin: 170px 0 0 0;
  float: left;
  color: #ffffff;
  text-align: left;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: #67baf3;
  background-image: -webkit-linear-gradient(#67baf3, #0c7eb8);
  background-image: linear-gradient(#67baf3, #0c7eb8);
  border-top: 1px solid #3981c7;
  border-bottom: 1px solid #3981c7;
  border-left: 1px solid #3981c7; }
  .sidebar .col {
    height: 62px;
    width: 100%;
    line-height: 62px;
    border-bottom: solid 1px #88c7f1;
    padding: 0 50px 0 75px; }
    .sidebar .col:last-child {
      border-bottom: none; }
  .sidebar .email {
    background: url(/images/102/email.png);
    background-repeat: no-repeat;
    background-position: 30px center;
    margin-top: 0; }
  .sidebar .web {
    background: url(/images/102/laptop.png);
    background-repeat: no-repeat;
    background-position: 30px center;
    margin-top: 0; }
  .sidebar .music {
    background: url(/images/102/music.png);
    background-repeat: no-repeat;
    background-position: 30px center;
    margin-top: 0; }
  .sidebar .sd-video {
    background: url(/images/102/video.png);
    background-repeat: no-repeat;
    background-position: 30px center;
    margin-top: 0; }
  .sidebar .file {
    background: url(/images/102/file.png);
    background-repeat: no-repeat;
    background-position: 30px center;
    margin-top: 0; }
  .sidebar .game {
    background: url(/images/102/game.png);
    background-repeat: no-repeat;
    background-position: 30px center;
    margin-top: 0; }
  .sidebar .hd-video {
    background: url(/images/102/video.png);
    background-repeat: no-repeat;
    background-position: 30px center;
    margin-top: 0; }

.price-column {
  width: 222px;
  height: 606px;
  float: left;
  margin: 0 1px 0 0;
  position: relative; }

.price-grid-blue {
  color: #ffffff;
  width: 100%;
  height: 171px;
  background-color: #67baf3;
  background-image: -webkit-linear-gradient(#67baf3, #0c7eb8);
  background-image: linear-gradient(#67baf3, #0c7eb8);
  border: 1px solid #3981c7;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px; }
  .price-grid-blue .price-intro {
    font-size: 20px;
    font-family: helvetica, arial, sans-serif;
    font-weight: bold;
    padding: 19px 0 0 0;
    margin-bottom: 7px; }
  .price-grid-blue .price
  .currency {
    color: #ffffff;
    font-size: 40px;
    font-family: helvetica, arial, sans-serif;
    font-weight: bold;
    margin-left: 32px; }
  .price-grid-blue .dollars {
    color: #ffffff !important;
    font-size: 75px;
    font-family: helvetica, arial, sans-serif;
    font-weight: bold;
    padding: 10px 0 0 0;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.7) !important;
    margin: -10px 0 10px 0; }
  .price-grid-blue .price-secondary .cents {
    color: #ffffff;
    font-size: 40px;
    font-family: helvetica, arial, sans-serif;
    font-weight: bold;
    margin: -8px 0 0 0; }
  .price-grid-blue .price-secondary .month {
    color: #ffffff;
    font-size: 20px;
    font-family: helvetica, arial, sans-serif;
    font-weight: bold; }

a.button {
  color: #ffffff;
  font-size: 13px;
  text-transform: uppercase;
  border: 2px solid #ffffff;
  border-radius: 5px;
  font-family: helvetica, arial, sans-serif;
  font-weight: bold;
  padding: 10px 20px;
  margin: 20px 0;
  line-height: 20px;
  text-align: center;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s; }

a.button-blue:hover {
  color: #1484be;
  background: #ffffff; }

a.button-green:hover {
  color: #75bd20;
  background: #ffffff; }

a.button-orange:hover {
  color: #fe7701;
  background: #ffffff; }

a.button-purple:hover {
  color: #8c0182;
  background: #ffffff; }

.grey-light {
  width: 100%;
  height: 62px;
  background-color: #f3f3f3;
  line-height: 69px;
  border-bottom: solid 1px #ffffff; }
  .grey-light:last-child {
    border-bottom: none; }

.grey-dark {
  width: 100%;
  height: 62px;
  background-color: #ebebeb;
  line-height: 69px;
  border-bottom: solid 1px #ffffff; }
  .grey-dark:last-child {
    border-bottom: none; }

.price-grid-green {
  color: #ffffff;
  width: 100%;
  height: 171px;
  background-color: #b4d32b;
  background-image: -webkit-linear-gradient(#b4d32b, #74bd20);
  background-image: linear-gradient(#b4d32b, #74bd20);
  border: 1px solid #74bd20;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px; }

.price-grid-orange {
  color: #ffffff;
  width: 100%;
  height: 171px;
  background-color: #fda810;
  background-image: -webkit-linear-gradient(#fda810, #fe7701);
  background-image: linear-gradient(#fda810, #fe7701);
  border: 1px solid #fe7701;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px; }

.popular {
  font-family: OATTLI;
  color: #ffffff;
  width: 100%;
  height: 50px;
  line-height: 40px;
  font-size: 14px;
  text-align: center;
  background-color: #fe7801;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  position: absolute;
  top: -40px;
  left: 0;
  z-index: -1; }

.limited {
  font-family: OATTLI;
  color: #ffffff;
  width: 100%;
  height: 50px;
  padding: 10px 30px;
  background-color: #fda810;
  background-image: -webkit-linear-gradient(#fda810, #fe7701);
  background-image: linear-gradient(#fda810, #fe7701);
  border-bottom: 1px solid #fe7701;
  border-right: 1px solid #fe7701;
  border-left: 1px solid #fe7701;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  position: absolute;
  bottom: -50px;
  left: 0;
  z-index: -1; }

.price-grid-purple {
  color: #ffffff;
  width: 100%;
  height: 171px;
  background-color: #e1009a;
  background-image: -webkit-linear-gradient(#e1009a, #8c0181);
  background-image: linear-gradient(#e1009a, #8c0181);
  border: 1px solid #8c0181;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px; }

.speed {
  font-family: OATTLI;
  color: #ffffff;
  width: 100%;
  height: 50px;
  padding: 10px 30px;
  background-color: #e1009a;
  background-image: -webkit-linear-gradient(#e1009a, #8c0181);
  background-image: linear-gradient(#e1009a, #8c0181);
  border-bottom: 1px solid #8c0181;
  border-right: 1px solid #8c0181;
  border-left: 1px solid #8c0181;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  position: absolute;
  bottom: -50px;
  left: 0;
  z-index: -1; }

.plans_graph {
  margin: 50px 0 0 0; }

.plans_graph .legal {
  width: 50%;
  text-align: left;
  margin: 20px 0 10px 0;
  float: left; }

.plus {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 10px;
  right: 10px;
  background: url(/images/102/plus.png);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer; }
  .plus:hover .plus-inner {
    visibility: visible;
    opacity: 0.92; }
  .plus .plus-inner {
    width: 25px;
    height: 25px;
    position: relative;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    z-index: 3; }
    .plus .plus-inner .legal-back {
      width: 215px;
      height: 53px;
      background-image: url(/images/102/arrow.png);
      background-repeat: no-repeat;
      background-position: bottom center;
      position: absolute;
      top: -55px;
      left: -95px; }
    .plus .plus-inner .legal-back2 {
      width: 215px;
      height: 53px;
      background-image: url(/images/102/arrow.png);
      background-repeat: no-repeat;
      background-position: 180px bottom;
      position: absolute;
      top: -55px;
      left: -180px; }
    .plus .plus-inner .legal-popup {
      width: 215px;
      font-size: 10px;
      color: #ffffff;
      font-family: OATTLI;
      background-color: #6e6e6e;
      padding: 10px;
      z-index: 2;
      border-radius: 3px;
      line-height: 1.2; }

@media only screen and (max-width: 1199px) {
  .sidebar {
    font-size: 13px; }

  .price-grid-blue .price .currency {
    margin-left: 18px; }

  .price-grid-blue .price .dollars {
    font-size: 60px; }

  .price-grid-blue .price .cents {
    font-size: 30px;
    margin: 0; }

  .price-grid-blue .price .month {
    font-size: 15px; }

  .price-grid-blue .price-intro {
    font-size: 15px;
    font-family: helvetica, arial, sans-serif;
    font-weight: bold;
    padding: 17px 0 0 0; }

  .packages-banner .row .grad-secondary .package {
    display: none; }
  .packages-banner .row .grad-secondary .line {
    margin: 18px 35px 0 0; }

  .price-column {
    width: 170px; }

  .speed {
    font-size: 12px;
    padding: 12px 20px; }

  .limited {
    font-size: 12px;
    padding: 12px 10px; } }
.ih-bundles .grid-16 {
  background-position: 500px center; }
  @media only screen and (max-width: 1199px) {
    .ih-bundles .grid-16 {
      background-position: 1px center; } }
.ih-bundles h2 {
  font-size: 44px; }
.ih-bundles .price-legal {
  right: 23px; }
  @media only screen and (max-width: 1199px) {
    .ih-bundles .price-legal {
      right: 5px; } }

.scale.is-centered {
  margin: 0 auto; }

.att-bundles-wrapper {
  margin-top: 120px; }

.custom-bundle-column .custom-bundle-title {
  text-align: center; }
  .custom-bundle-column .custom-bundle-title h3 {
    color: #ff7200;
    font-size: 22px;
    margin: 10px 0; }
  .custom-bundle-column .custom-bundle-title img {
    margin-top: -150px; }
.custom-bundle-column .custom-bundle-banner {
  background: #7bc6ff;
  color: #fff;
  font-size: 14px;
  margin: 0;
  padding: 5px 0;
  text-align: center; }
  .custom-bundle-column .custom-bundle-banner strong {
    text-transform: uppercase; }
  @media only screen and (max-width: 1199px) {
    .custom-bundle-column .custom-bundle-banner {
      font-size: 12px; } }
.custom-bundle-column .custom-bundle-list {
  min-height: 300px; }
  .custom-bundle-column .custom-bundle-list li {
    border-top: 2px solid #e4e4e4;
    overflow: hidden;
    padding: 12px 0; }
    .custom-bundle-column .custom-bundle-list li:first-child {
      border-top: none; }
  .custom-bundle-column .custom-bundle-list .custom-bundle-icon {
    color: #ff7200;
    float: left;
    font-size: 18px;
    text-align: center;
    width: 30%; }
    .custom-bundle-column .custom-bundle-list .custom-bundle-icon img {
      margin-bottom: 5px; }
  .custom-bundle-column .custom-bundle-list p {
    float: left;
    width: 55%; }

.build-bundle .row {
  overflow: visible; }
.build-bundle h2 {
  font-size: 40px; }
  @media only screen and (max-width: 1199px) {
    .build-bundle h2 {
      font-size: 30px; } }
.build-bundle .bundle-image {
  margin-top: -20px; }
@media only screen and (max-width: 1199px) {
  .build-bundle .txt-block {
    padding-bottom: 20px; } }

.callout-order-now .promo-box {
  margin: 20px 25px 25px;
  padding: 20px 0; }

footer .legal {
  line-height: 1; }

/*# sourceMappingURL=experience.css.map */
