// Project Variables


// Base Colors
$light-grey: #efefef;// AT&T Light Grey
$grey: #666;         // AT&T Grey
$dark-grey: #333;    // AT&T Dark Grey


// Global Colors
$white-color: #ffffff;
$grey-light: #f3f3f3;
$grey-dark: #ebebeb;
$orange: #ef6f00;      // AT&T Orange
$light-orange: #fcb314;// AT&T Orange Highlight
$green: #4ca90c;       // AT&T Green
$light-green: #c4d82d; // AT&T Green Highlight
$purple: #81017e;      // AT&T Purple
$light-blue: #44c8f5;  // AT&T Blue Highlight
$blue: #067ab4;        // AT&T Blue
$dark-blue: #0c2577;  // AT&T Dark Blue

// Border color
$border-color: #efefef; // light grey

// Media Query Breakpoints

$desktop: "(max-width: 1199px)";
$large-desktop: "(min-width: 1200px)";